<h2>「テルマエ・ロマエ」をみにいきませんか？</h2>
<div class="ui-grid-a match_user">
  <div class="ui-block-a">
    <div class="drop-shadow rou">
      <%= image_tag "images/cinematch_content_user1.jpg" %>
    </div>
    <p>@lovelovefun</p>
  </div>
  <div class="ui-block-b">

    <div class="drop-shadow rou">
    <%= image_tag "images/cinematch_content_user2.jpg" %>
  </div>
    <p>@lifeisbeautiful</p>
  </div>
</div>
<ul data-role="listview" data-theme="c" data-divider-theme="a" data-inset="true">
  <li data-role="list-divider" >おすすめの映画館</li>
  <li>TOHOシネマズ 六本木シネマ</li>
  <li data-role="list-divider" >おすすめの日程</li>
  <li>６月４日</li>
</ul>
<%= link_to "オファーする","",  { "data-role"=>"button",  "data-theme"=>"e"} %>
